<script>
  jQuery(document).ready(function($) {  
  
  $(window).on('load', function(){
    $('#preloader').fadeOut('slow',function(){$(this).remove();});
  });
  
  });
</script>

<style type="text/css">
  div#preloader { position: fixed; 
      left: 0; 
      top: 0; 
      z-index: 999; 
      width: 100%; 
      height: 100%; 
      overflow: visible; 
      background: #fff url('http://preloaders.net/preloaders/720/Moving%20line.gif') no-repeat center center; 
  }

</style>

<div id="preloader">

</div>

<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  } 
  
  $( document ).ready(function(){
    code_shown=false; 
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

# Logistic regression

In [1]:
%load_ext sql

In [2]:
# Greenplum 4.3.10.0
# %sql postgresql://gpdbchina@10.194.10.68:61000/madlib
        
# PostgreSQL local
%sql postgresql://postgres:Welcome123@localhost:5432/DemoDB

'Connected: postgres@DemoDB'

In [3]:
%sql select madlib.version();
#%sql select version();

 * postgresql://postgres:***@localhost:5432/DemoDB
1 rows affected.

[('MADlib version: 1.15.1, git revision: unknown, cmake configuration time: Wed Oct 10 09:12:58 UTC 2018, build type: Release, build system: Linux-4.9.93-linuxkit-aufs, C compiler: gcc 5.4.0, C++ compiler: g++ 5.4.0',)]

# 1. Load data
This data set is related to predicting a second heart attack given treatment and health factors.

In [4]:
%%sql
DROP TABLE IF EXISTS patients;

CREATE TABLE patients( id INTEGER NOT NULL,
                       second_attack INTEGER,
                       treatment INTEGER,
                       trait_anxiety INTEGER);
                         
INSERT INTO patients VALUES 
(1,  1, 1, 70),
(2,  1, 1, 80),
(3,  1, 1, 50),
(4,  1, 0, 60),
(5,  1, 0, 40),
(6,  1, 0, 65),
(7,  1, 0, 75),
(8,  1, 0, 80),
(9,  1, 0, 70),
(10, 1, 0, 60),
(11, 0, 1, 65),
(12, 0, 1, 50),
(13, 0, 1, 45),
(14, 0, 1, 35),
(15, 0, 1, 40),
(16, 0, 1, 50),
(17, 0, 0, 55),
(18, 0, 0, 45),
(19, 0, 0, 50),
(20, 0, 0, 60);

SELECT * FROM patients ORDER BY id;

 * postgresql://postgres:***@localhost:5432/DemoDB
Done.
Done.
20 rows affected.
20 rows affected.

[(1, 1, 1, 70),
 (2, 1, 1, 80),
 (3, 1, 1, 50),
 (4, 1, 0, 60),
 (5, 1, 0, 40),
 (6, 1, 0, 65),
 (7, 1, 0, 75),
 (8, 1, 0, 80),
 (9, 1, 0, 70),
 (10, 1, 0, 60),
 (11, 0, 1, 65),
 (12, 0, 1, 50),
 (13, 0, 1, 45),
 (14, 0, 1, 35),
 (15, 0, 1, 40),
 (16, 0, 1, 50),
 (17, 0, 0, 55),
 (18, 0, 0, 45),
 (19, 0, 0, 50),
 (20, 0, 0, 60)]

# 2.  Train regression model

In [5]:
%%sql
DROP TABLE IF EXISTS patients_logregr, patients_logregr_summary;

SELECT madlib.logregr_train( 'patients',                             -- Source table
                             'patients_logregr',                     -- Output table
                             'second_attack',                        -- Dependent variable
                             'ARRAY[1, treatment, trait_anxiety]',   -- Feature vector
                             NULL,                                   -- Grouping
                             20,                                     -- Max iterations
                             'irls'                                  -- Optimizer to use
                           );

SELECT * FROM patients_logregr_summary;

 * postgresql://postgres:***@localhost:5432/DemoDB
Done.
1 rows affected.
1 rows affected.

[('logregr', 'patients', 'patients_logregr', 'second_attack', 'ARRAY[1, treatment, trait_anxiety]', 'optimizer=irls, max_iter=20, tolerance=0.0001', 1, 0, 20, 0, None)]

# 3.  View regression results

In [6]:
%%sql
SELECT * from patients_logregr;

 * postgresql://postgres:***@localhost:5432/DemoDB
1 rows affected.

[([-6.36346994178173, -1.02410605239327, 0.119044916668604], -9.41018298388876, [3.21389766375088, 1.17107844860318, 0.05497904582693], [-1.97998524145758, -0.874498248699552, 2.16527796868917], [0.0477051870698141, 0.381846973530448, 0.0303664045046174], [0.00172337630923254, 0.359117354054954, 1.12642051220894], 326.081922791561, 20, 0, 5, [[10.3291381930634, -0.47430466519573, -0.171995901260046], [-0.47430466519573, 1.37142473278284, -0.00119520703381593], [-0.171995901260046, -0.00119520703381593, 0.00302269548003966]])]

# 4. Output formatting
Alternatively, unnest the arrays in the results for easier reading of output:

In [7]:
%%sql
SELECT unnest(array['intercept', 'treatment', 'trait_anxiety']) as attribute,
       unnest(coef) as coefficient,
       unnest(std_err) as standard_error,
       unnest(z_stats) as z_stat,
       unnest(p_values) as pvalue,
       unnest(odds_ratios) as odds_ratio
    FROM patients_logregr;

 * postgresql://postgres:***@localhost:5432/DemoDB
3 rows affected.

[('intercept', -6.36346994178173, 3.21389766375088, -1.97998524145758, 0.0477051870698141, 0.00172337630923254),
 ('treatment', -1.02410605239327, 1.17107844860318, -0.874498248699552, 0.381846973530448, 0.359117354054954),
 ('trait_anxiety', 0.119044916668604, 0.05497904582693, 2.16527796868917, 0.0303664045046174, 1.12642051220894)]

# 5. Predict outcome
This example uses the original data table to perform the prediction. Typically a different test dataset with the same features as the original training dataset would be used for prediction.

In [8]:
%%sql
-- Display prediction value along with the original value
SELECT p.id, madlib.logregr_predict(coef, ARRAY[1, treatment, trait_anxiety]),
       p.second_attack::BOOLEAN
FROM patients p, patients_logregr m
ORDER BY p.id;

 * postgresql://postgres:***@localhost:5432/DemoDB
20 rows affected.

[(1, True, True),
 (2, True, True),
 (3, False, True),
 (4, True, True),
 (5, False, True),
 (6, True, True),
 (7, True, True),
 (8, True, True),
 (9, True, True),
 (10, True, True),
 (11, True, False),
 (12, False, False),
 (13, False, False),
 (14, False, False),
 (15, False, False),
 (16, False, False),
 (17, True, False),
 (18, False, False),
 (19, False, False),
 (20, True, False)]

# 6. Predict probability
Predicting the probability of the dependent variable being TRUE.

In [9]:
%%sql
-- Display prediction value along with the original value
SELECT p.id, madlib.logregr_predict_prob(coef, ARRAY[1, treatment, trait_anxiety]),
       p.second_attack::BOOLEAN
FROM patients p, patients_logregr m
ORDER BY p.id;

 * postgresql://postgres:***@localhost:5432/DemoDB
20 rows affected.

[(1, 0.720223028941519, True),
 (2, 0.894354902502041, True),
 (3, 0.192269541755175, True),
 (4, 0.685513072239346, True),
 (5, 0.167747881508866, True),
 (6, 0.798098108915137, True),
 (7, 0.9285680757525, True),
 (8, 0.959305763693568, True),
 (9, 0.877576117431448, True),
 (10, 0.685513072239346, True),
 (11, 0.586700895943311, False),
 (12, 0.192269541755175, False),
 (13, 0.116032010632998, False),
 (14, 0.0383829143135009, False),
 (15, 0.0674976224147633, False),
 (16, 0.192269541755175, False),
 (17, 0.545870774302624, False),
 (18, 0.267675422387141, False),
 (19, 0.398618639285118, False),
 (20, 0.685513072239346, False)]

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#999; background:#fff;">
Created with Jupyter, delivered by Fastly, rendered by Rackspace.
</footer>